.panel {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.header-panel {
  background-color: #282942;
  height: 5vh;
}

.header-panel ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
}

.header-panel li {
  padding: 2%;
  color: white;
  font-size: 150%;
}

.main-panel {
  height: 95vh;
  background-color: #383A59;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 2%;
}

.panel-text-lines {
  color: white;
  font-size: 2em;
}

.panel-error-text-lines {
  color: red;
  font-size: 2em;
}

input[type='file'] {
  display: none;
}

label {
  cursor: pointer;
  font-size: 95%;
}

button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}